<section class="manage-employee-section">
    <div class="container">
        <div class="manage-employee">
            <div class="manage-name">
                <h2>Manage Employees</h2>
            </div>
            <div class="manage-buttons">
                <div class="manage-btn-one">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Delete</button>
                </div>
                <div class="manage-btn-two">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#exampleModa2">Add New Employee</button>
                </div>
            </div>
        </div>
        <div class="table-div">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" name="" id=""></th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><input type="checkbox" name="" id=""></th>
                        <td>Thomas Hardy</td>
                        <td>thomashardy@gmail.com</td>
                        <td>89 chiaroscuro Rd, Portland, USA</td>
                        <td>(171)555-2222</td>
                        <td>
                            <div class="delete-icon"><i class="bi bi-pen-fill text-warning" data-bs-toggle="modal"
                                    data-bs-target="#exampleModa2"></i><i class="bi bi-trash-fill text-danger"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"></i></div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" name="" id=""></th>
                        <td>Thomas Hardy</td>
                        <td>thomashardy@gmail.com</td>
                        <td>89 chiaroscuro Rd, Portland, USA</td>
                        <td>(171)555-2222</td>
                        <td>
                            <div class="delete-icon"><i class="bi bi-pen-fill text-warning" data-bs-toggle="modal"
                                    data-bs-target="#exampleModa2"></i><i class="bi bi-trash-fill text-danger"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"></i></div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" name="" id=""></th>
                        <td>Thomas Hardy</td>
                        <td>thomashardy@gmail.com</td>
                        <td>89 chiaroscuro Rd, Portland, USA</td>
                        <td>(171)555-2222</td>
                        <td>
                            <div class="delete-icon"><i class="bi bi-pen-fill text-warning" data-bs-toggle="modal"
                                    data-bs-target="#exampleModa2"></i><i class="bi bi-trash-fill text-danger"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"></i></div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" name="" id=""></th>
                        <td>Thomas Hardy</td>
                        <td>thomashardy@gmail.com</td>
                        <td>89 chiaroscuro Rd, Portland, USA</td>
                        <td>(171)555-2222</td>
                        <td>
                            <div class="delete-icon"><i class="bi bi-pen-fill text-warning" data-bs-toggle="modal"
                                    data-bs-target="#exampleModa2"></i><i class="bi bi-trash-fill text-danger"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"></i></div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" name="" id=""></th>
                        <td>Thomas Hardy</td>
                        <td>thomashardy@gmail.com</td>
                        <td>89 chiaroscuro Rd, Portland, USA</td>
                        <td>(171)555-2222</td>
                        <td>
                            <div class="delete-icon"><i class="bi bi-pen-fill text-warning" data-bs-toggle="modal"
                                    data-bs-target="#exampleModa2"></i><i class="bi bi-trash-fill text-danger"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"></i></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>